{
  "//": "Your DataDog keys.  They can be found in the DataDog UI under Integrations -> APIs",
  "dataDogApiKey": "yourApiKey",
  "dataDogAppKey": "yourAppKey",

  "//": "The ssh URL for a git repo where you want your DataDog JSON files stored.",
  "gitRepoForBackups": "git@github.com:your/backupRepo.git",

  "//": "The git repo branch to use.",
  "gitBranch": "master",

  "//": "(optional) Whether or not you want a DataDog event to be sent in the event that nothing ",
  "//": "has changed since the last git commit.",
  "sendEventOnNoop": "false",

  "//": "(optional) Your own custom noop message.",
  "noopEventMessage": "Nothing to see here",

  "//": "(optional) If you wish for this to run on a regular basis then specify an interval in ",
  "//": "cron format.  The default if no interval is provided is to run only one time.",
  "backupInterval": "*/5 * * * *"
}
